<!DOCTYPE html>
<html lang="ru">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title> Lemmings Company </title>
    <link rel="icon" href="{{ url_for('static', filename='img/Lemming.png') }}" type="image/png" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style_stock2.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div id="header">
		<div class="left_head">
			<a class="log" href="/"><img class="logo" src="{{ url_for('static', filename='img/Lemming.png') }}" alt="Logo" width="50px" height="50px"></a>
			<h4 class="logo_name">Lemmings Company</h4>
		</div>
		<div class="right_head">
			<a class="account" href=""><img src="{{ url_for('static', filename='img/Account.png') }}" width="50px" height="50px"></a>
			<a class="catalog" href="#Catalog">Каталог</a>
			<a class="news">Новости</a>
		</div>
	</div>
    <div style="display: flex; 
    justify-content: space-around;
    border: 5px solid gold;
    padding-bottom: 200px;
    ">
        <img src="{{ url_for('static', filename='img/icon.png') }}" style="border-radius: 100px; box-shadow: 0 0 0 3px green, 0 0 13px #333; top: 163px; width: 200px; height: 200px; position: relative; left: 50px;">
        <button type="button" class="btn2">Описание </button>
        <div class="container">
            <p>{{ text }}</p>
        </div>
    </div>
    <div style="
    display: flex;
    justify-content: space-around;
    width: 100%; 
    align-items: center;
    ">
        <img class="graph" src="{{ url_for('static', filename='img/graphic.png') }}">
    </div>
    <div style="height: 10px;"></div>
    <button type="button" class="btn3"> Совет бота </button>
    <div class="container2">
        <img src="{{ url_for('static',filename='img/graphic.png')}}" width="50%">
        <div style="display: block;
        text-align: center;
        position: relative;
        width: 47%;
        padding-top: 0px;
        align-items: center;
        margin: 0 auto;">
            <p> {{text}} </p>
        </div>

    </div>
    <div style="height: 10px;"></div>
    <button type="button" class="btn">Таблица операций {{ name }} (id: {{ id }}) </button>
    <div class="container2">
        <!-- <img class="graph" src="{{ url_for('static', filename='img/graphic.png') }}" alt="graphic"> -->
        <table border="1" class="center">
            <thead>
                <tr>
                    {% for row in args %}
                    <th>
                        <h1> {{ row }}</h1>
                    </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in ticker %}
                    <tr>
                        {% for item in row %}
                            <td> {{ item }} </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>



    <script>
        // превращает кнопку в рычаг (minecraft reference)
        var coll = document.getElementsByClassName("btn");
        var i;
        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }
        var coll = document.getElementsByClassName("btn3");
        var i;
        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "flex") {
                    content.style.display = "none";
                } else {
                    content.style.display = "flex";
                }
            });
        }
        var coll = document.getElementsByClassName("btn2");
        var i;
        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                    // content.style = "left: 0%;";
                    document.getElementsByClassName("btn2")[0].style = "width: 60%; height: 100%;";
                } else {
                    content.style.display = "block";
                    // content.style = "left: 10%;";
                    document.getElementsByClassName("btn2")[0].style = "width: 20%; height: 200px; left: 10%;";
                }
            });
        }
    </script>
</body>
</html>
